In [1]:
import pandas as pd

## copy data from Excel

In [10]:
df=pd.read_clipboard()
df

         Argentina        75    18.9  4.0    14.2  -25.0
0        Australia      5.90     1.3  4.7     1.1  -10.9
1           Brazil     16.50     3.2  5.1     3.1   -3.2
2          Britain      3.19     0.7  4.4     0.6  -16.4
3           Canada      6.55     1.2  5.3     1.2   -0.4
4            Chile   2600.00   605.9  4.3   492.4  -18.7
5            China     20.40     6.4  3.2     3.9  -39.9
6         Colombia  10900.00  2844.1  3.8  2064.4  -27.4
7       Costa Rica   2290.00   568.5  4.0   433.7  -23.7
8   Czech Republic     79.00    20.7  3.8    15.0  -27.9
9          Denmark     30.00     6.1  4.9     5.7   -6.6
10           Egypt     34.21    17.7  1.9     6.5  -63.4
11       Euro area      3.95     0.8  4.8     0.7   -8.4
12       Hong Kong     20.50     7.8  2.6     3.9  -50.3
13         Hungary    864.00   252.1  3.4   163.6  -35.1

In [11]:
df=pd.read_clipboard(names=['empId', 'firstname', 'lastname', 'gender'])
df

                          empId  firstname  lastname  gender
Argentina      75.00       18.9        4.0      14.2   -25.0
Australia      5.90         1.3        4.7       1.1   -10.9
Brazil         16.50        3.2        5.1       3.1    -3.2
Britain        3.19         0.7        4.4       0.6   -16.4
Canada         6.55         1.2        5.3       1.2    -0.4
Chile          2600.00    605.9        4.3     492.4   -18.7
China          20.40        6.4        3.2       3.9   -39.9
Colombia       10900.00  2844.1        3.8    2064.4   -27.4
Costa Rica     2290.00    568.5        4.0     433.7   -23.7
Czech Republic 79.00       20.7        3.8      15.0   -27.9
Denmark        30.00        6.1        4.9       5.7    -6.6
Egypt          34.21       17.7        1.9       6.5   -63.4
Euro area      3.95         0.8        4.8       0.7    -8.4
Hong Kong      20.50        7.8        2.6       3.9   -50.3
Hungary        864.00     252.1        3.4     163.6   -35.1

In [12]:
df=pd.read_clipboard(index_col=0, names=['empId', 'firstname', 'lastname', 'gender'])
df

IndexError: list index out of range

## copy data from CSV (Comma-Separated Values)

In [5]:
df=pd.read_clipboard(sep=',')
df

    \tWisesight Sentiment Corpus
0                  08-22-2020:\t
1   \tLastFM Asia Social Network
2                  08-06-2020:\t
3    \tMulti-view Brain Networks
4                  08-03-2020:\t
5                \tWheat kernels

## copy data from TSV (Tab-Separated Values)

In [6]:
df=pd.read_clipboard(sep='\t')
df

    Unnamed: 0  Wisesight Sentiment Corpus
0  08-22-2020:                         NaN
1               LastFM Asia Social Network
2  08-06-2020:                         NaN
3                Multi-view Brain Networks
4  08-03-2020:                         NaN
5                            Wheat kernels

## copy data from HTML Table

In [7]:
# https://finance.yahoo.com/quote/SCC.BK/history?p=SCC.BK
# didn't work on Microsoft Edge browser
df=pd.read_clipboard()
df

            Wisesight Sentiment   Corpus
08-22-2020:
LastFM           Asia    Social  Network
08-06-2020:      None      None     None
Multi-view      Brain  Networks     None
08-03-2020:      None      None     None
Wheat         kernels      None     None

In [8]:
# https://finance.yahoo.com/quote/SCC.BK/history?p=SCC.BK
# work with Chrome/Firefox
df=pd.read_clipboard(index_col=0, parse_dates=True)
df

            Wisesight Sentiment   Corpus
08-22-2020:
LastFM           Asia    Social  Network
08-06-2020:      None      None     None
Multi-view      Brain  Networks     None
08-03-2020:      None      None     None
Wheat         kernels      None     None

In [9]:
%matplotlib inline
df['Close*'].plot()

KeyError: 'Close*'